<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Card</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <img src="./static/profile-pic.jpeg" alt="Profile Picture">
      </div>
    </div>
    <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
    <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
    <div class="name">MANIKANTA CHELAMALLA</div>
    <div class="about">Designer & Developer</div>
    <div class="social-icons">
      <a href="https://github.com/mani1028" class="Github" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github"></i>
</a>
<a href="https://www.linkedin.com/in/mani1028" class="Linkedin" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin-in"></i>
</a>
<a href="https://www.instagram.com/_mani__x96_/" class="insta" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-instagram"></i>
</a>
      <!--<a href="#" class="yt"><i class="fab fa-youtube"></i></a> -->
    </div>
    <div class="buttons">
      <button onclick="window.location.href='mailto:chelamalla.manikanta28@gmail.com','_blank';"><b>CONTACT</b></button>
      <button onclick="window.open('httpps://mani1028.github.io/my-portifilo/', '_blank');"><b>PORTFOLIO</b></button>
    </div>
      </div>
    </div>
  </div>
</body>
</html>